body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12pt;
}
.center {
  text-align: center;
}
.smallimage{
   max-width:500px;
}
.smallestimage{
   max-width:500px;
}
.mediumimage{
   max-width:70%;
   max-height:70%;
}