<!DOCTYPE html>
<html lang="{{ site.isolang }}" itemscope itemtype="http://schema.org/WebPage">
  {% include head.html %}
  <body>
    <div class="container">
      <div class="section my-section" itemprop="mainContentOfPage" itemscope itemtype="https://schema.org/WebPageElement">
        <h1 itemprop="headline"><a class="my-name" href="{{ site.burl }}/">{{ site.title }}</a></h1>
        <p class="my-description" itemprop="text">
          {{ site.about }}
          <br>
          <i class="fa fa-map-marker"></i> {{ site.location }}
        </p>
        <div class="row">
          <div class="col s12 m12 l12">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
